@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body
{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    padding: 0.5em 1.5em;
}

h1, h3 
{
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #216fe4;
    padding: 0.25em 0;
}

h1 
{
    font-size: 2em;
    border-bottom: 2px solid #605e6e;
}

h3 
{
    font-size: 1.3em;
    font-weight: bold;
}

ul.info 
{
    display: block;
    color: #777;
    font-weight: bold;
    margin: 1em 0px;
}

ul.info > li > b
{
    color: #333;
}

ul.info > li > i
{
    color: #216fe4;
}

label.test 
{
    display: inline-block;
    color: #222;
    padding: 0.5em 1em;
    background: #e5e5ef;
    border-radius: 3px;
    margin: 0.25em;
}

label.test.ok 
{
    color: #111;
    background: #17dd52;
}

label.test.ko 
{
    color: #fefefe;
    background: #dd1731;
}

pre.output
{
    background: #363639;
    color: #fefeff;
    font-size: 1.2em;
    line-height: 1.3;
    padding: 0.5em;
    display: none;
    word-wrap: break-word;
    overflow: auto;
}

pre.show.output
{
    display: block;
}

.json-key     { color: #2aec91; }
.json-string  { color: #e34cf1; }
.json-number  { color: #5393f3; }
.json-boolean { color: #21ade4; }
.json-null    { color: #aaa; }